# ignore all files in wp-admin
/wp-admin/

# ignore specific directories and files in wp-content
/wp-content/index.php
/wp-content/languages/
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/ai1wm-backups/


# ignore everything in wp-content/plugins except for "name_plugin"
/wp-content/plugins/*
!/wp-content/plugins/name_plugin/
!/wp-content/plugins/name_plugin/** */

# ignore all in wp-content/themes except for portfolio-ramcon
/wp-content/themes/*
!/wp-content/themes/portfolio-ramcon/
!/wp-content/themes/portfolio-ramcon/**

# ignore all files in wp-includes
/wp-includes/

# ignore all files in the root directory
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# ignore wp-config.php and logs
wp-config.php
*.log

# ignore system files that are not needed for WordPress
/.htaccess
ehthumbs.db
Thumbs.db
