@use "../abstracts/index" as *;

header {
  background-color: $black;
  color: $white;
  padding: 10px;
  .logo {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: $white;
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      justify-content: end;
      gap: 32px;
      li {
        a {
          text-transform: uppercase;
          text-decoration: none;
          font-size: 14px;
          letter-spacing: 0.5px;
          color: $white;
          transition: color 0.2s;
          &:hover {
            color: $cyan_electric;
          }
        }
      }
    }
  }
}
