@use "../abstracts/index" as *;

footer {
  background-color: $black;
  color: $white;
  padding: 10px;
  text-align: center;
  h2 {
    text-transform: uppercase;
  }
  ul.list-contact {
    gap: 8px;
    li {
      display: flex;
      align-items: center;
      img {
        width: 24px;
        margin-right:8px;
      }
      a {
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        text-transform: none;
        color: $white;
        transition: color 0.2s ease-out;
        &:hover {
          color: $cyan_electric;
        }
      }
    }
  }
  .contact-form {
    p {
      span {
        width: 100%;
      }
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 12px;
      br {
        display: none;
      }
      input,
      textarea {
        width: 100%;
        max-width: 500px;
        padding: 8px 12px;
        border-radius: 6px;
        appearance: none;
        outline: none;
        border: none;
        font-family: $roboto_condensed;
        &[type="submit"] {
          background-color: $cyan_electric;
          color: white;
          cursor: pointer;
          transition: background-color 0.2s;
          &:hover {
            background-color: $cyan_electric_hover;
          }
        }
      }
    }
  }
  @media( max-width: 980px ) {
    ul.list-contact {
      margin-bottom: 30px;
    }
  }
}
