@use "../abstracts/index" as *;
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 40px;
  li {
    display: flex;
    align-items: center;
  justify-content: center;
    button {
      border-radius: 50%;
      color: $white;
      background-color: $white;
      border: none;
      overflow: hidden;

      height: 8px;
      width: 8px;

      box-shadow: 0px 0px 1px 2px rgba($black, 0.1);

      transition: color .2s ease-in-out,
                  background-color .2s ease-in-out,
                  height .2s ease-in-out,
                  width .2s ease-in-out;
    }
    &.slick-active {
      button {
        height: 12px;
        width: 12px;

        color: $cyan_electric;
        background-color: $cyan_electric;
      }
    }
  }
}
@media ( max-width: 768px) {
  .draggable {
    max-width: calc(100vw - 24px);
  }
  .slick-dots {
    margin-top: 20px;
  }
}