@use "../abstracts/index" as *;

#home {
  .hero {
    min-height: 80vh;
    display: flex;
    align-items: center;

    background-position: center;
    background-size: cover;
    box-shadow: inset 0 -60px 40px $black;
    h1 {
      color: $white;
    }
    h2 {
      color: $cyan_electric;
    }
  }

  .about {
    background-color: $black;
    h2 {
      color: $white;
    }
    .items-about {
      display: flex;
      justify-content: center;
      .item {
        min-height: 70vh;
        display: flex;
        align-items: end;
        padding: 20px;
        cursor: pointer;

        border: 2px solid $white;
        background-position: center;
        background-size: cover;
        width: 20%;

        transition: width .2s ease-in,
                    background .2s ease-in;
        &:first-child {
          border-radius: 30px 0 0 30px;
        }
        &:last-child {
          border-radius: 0 30px 30px 0;
        }
        &:hover {
          width: 50%;
          p {
            transition: opacity .3s ease-in-out;
            transition-delay: .3s;
            opacity: 1;
          }
        }
        p {
          background-color: rgba($black, .2);
          color: $white;
          padding: 6px 12px;
          // filter: blur(1px);
          border-radius: 6px;
          font-size: 16px;
          opacity: 0;

          transition-delay: 0s;
          transition: opacity 0s;
        }
      }
    }
    @media ( max-width: 768px ) {
      .items-about {
        flex-direction: column;
        .item {
          width: 100%;
          min-height: 60vh;
          &:first-child {
            border-radius: 30px 30px 0 0;
          }
          &:last-child {
            border-radius: 0 0 30px 30px;
          }
          &:hover {
            width: 100%;
          }
          p {
            opacity: 1;
          }
        }
      }
    }
  }

  .projects {
    background-color: $black;
    h2 {
      color: $white;
    }
    .projetcs-items {
      .slick-arrow {
        width: 30px;
        cursor: pointer;

        position:  absolute;
        z-index: 100;
        top: calc(50%);
        transform: translateY(-50%);
        &.prevArrow {
          left: 0px;
        }
        &.nextArrow {
          right: 0px;
        }
      }
      .draggable {
        padding: 40px 0px !important;
        max-width: calc(100vw - 24px);
      }
      .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        li {
          button {
            height: 12px;
            width: 12px;
            color: $white;
            background: $white;
            overflow: hidden;
            border-radius: 50%;
            border: 2px solid $black;
            appearance: none;
            outline: none;

            transition: color .2s ease-in-out,
                        background-color .2s ease-in-out,
                        border .2s ease-in-out;
          }
          &.slick-active {
            button {
              color: $cyan_electric;
              background: $cyan_electric;
              border-color: $cyan_electric;
            }
          }
        }
      }
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-position: center;
        background-size: cover;
        
        padding: 0px 30px;
        margin: 0px 5px;
        height: 300px;
        max-width: 100%;
        border-radius: 12px;

        position: relative;
        opacity: 0;
        
        transform: scale(.8);

        transition: opacity .2s ease-in-out,
                    transform .2s ease-in-out;
        
        .c-content {
          opacity: 0;
          transition: opacity .2s ease-in-out;
          h3 {
            color: $white;
          }
        }
        &.slick-active {
          opacity: 1;
        }
        &.slick-center {
          z-index: 99;
          transform: scale(1);
          .c-content {
            opacity: 1;
          }
        }
      }
    }
    @media ( max-width: 500px ) {
      .projetcs-items {
        .draggable {
          max-width: calc(100vw - 30px);
        }
      }
    }
  }

  .skills {
    .ditty-item {
      img {
        height: 60px;
      }
    }
  }

  .experience {
    background-color: $grey;
    .experience-items {
      .item {
        .c-principal {
          display: flex;
          align-items: center;
          gap: 20px;
          img {
            object-fit: contain;
            max-width: 120px;
            max-height: 60px;
            flex: 320px;
          }
          .info {
            h3 {
              span {
                color: $cyan_electric;
              }
            }
          }
        }
      }
    }
    @media( max-width: 767px ){
      .experience-items {
        .item {
          .c-principal {
            flex-direction: column;
            align-items: start;
          }
        }
      }
    }
  }

  .certifications {
    background-position: 98% 30%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    .bg-img {
      position: absolute;
      z-index: -1;
      right: -5%;
      top: -10%;
      height: 80vh;
      filter: opacity(.1);
      transform: rotate(30deg);
    }
    .studies-items {
      .item {
        span {
          text-transform: capitalize;
          font-size: 20px;
          font-weight: 400;
          a {
            color: $cyan_electric;
            text-transform: capitalize;
            text-decoration: none;
          }
        }
      }
    }
    @media ( max-width: 500px ) {
      .bg-img {
        right: -60%;
      }
    }
  }
}
