@use "../abstracts/index" as *;
#single-portfolio {
  .hero {
    position: relative;
    display: flex;
    align-items: center;
    
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    // filter: brightness(0.9);
    // box-shadow: inset 0 -60px 40px $black;
    h1 {
      color: $white;
    }
    // .filter-gradient {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background-image: linear-gradient(180deg, rgba($black, .2), $black);
    // }
  }

  .description {
    background-color: $black;
    h2, p {
      color: $white;
    }
    .portfolio-categories {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      li {
        padding: 2px 10px;
        border-radius: 4px;
      }
    }
    #slider-single {
      width: 460px;
      max-width: 100%;
      .draggable {
        margin: auto;
      }
      .item {
        overflow: hidden;
        border-radius: 10px;
        // border: 1px solid red;

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}