@use "../abstracts/index" as *;

#single-portfolio {
  .hero {
    position: relative;
    display: flex;
    align-items: center;
    
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    // filter: brightness(0.9);
    // box-shadow: inset 0 -60px 40px $black;
    h1 {
      color: $white;
    }
    // .filter-gradient {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background-image: linear-gradient(180deg, rgba($black, .2), $black);
    // }
  }

  .description {
    background-color: $black;
    h2, p {
      color: $white;
    }
    // .portfolio-categories {
    //   display: flex;
    //   flex-wrap: wrap;
    //   gap: 10px;
    //   li {
    //     padding: 2px 10px;
    //     border-radius: 4px;
    //     font-weight: 500;
    //     font-size: 13px;
    //   }
    // }
    #slider-for {
      width: 100%;
      .draggable {
        margin: auto;
      }
      .item {
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
        object-fit: contain;
      }
    }
    #slider-nav {
      .slick-track {
      }
      .slick-slide {
        overflow: hidden;
        margin: 0 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1px;
        opacity: .5;
        transition: border .2s,
                    opacity .2s;
        img {
          object-fit: cover;
          max-height: 500px;
          width: 100%;
          cursor: pointer;
        }
        &.slick-current {
          border: 2px solid $white;
          opacity: 1;
        }
      }
    }
  }
}
