@use "../abstracts/index" as *;

#single-portfolio {
  .hero {
    position: relative;
    display: flex;
    align-items: center;
    
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    h1 {
      color: $white;
    }
  }

  .description {
    padding-top: 120px;
    padding-bottom: 50px;
    background-color: $black;
    h2, p {
      color: $white;
    }
    #slider-for {
      width: 100%;
      .draggable {
        margin: auto;
      }
      .item {
        overflow: hidden;
        border-radius: 10px;
        width: 100%;
        object-fit: contain;
      }
    }
    #slider-nav {
      .slick-slide {
        overflow: hidden;
        margin: 0 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1px;
        opacity: .5;
        border: 2px solid $black;
        transition: border .2s,
                    opacity .2s;
        img {
          object-fit: cover;
          max-height: 500px;
          width: 100%;
          cursor: pointer;
        }
        &.slick-current {
          border: 2px solid $white;
          opacity: 1;
        }
      }
    }
  }
}
